body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }
  
.dashboard {
    background-color: #34383c;
    overflow: hidden;
    margin-top: 50px;
    height: 100%;
    padding-bottom: 15%;
}
.box2 {
    background: #2b2f33;
    width: 25%;
    height: 50px;
    color: white;
    font-weight: bold;
     padding-top: 1%;
    float: left;
    border-left: 2px #23272a solid;
}

.box2 p {
  text-align: center;
  font-size: 16px;
}

.dropdown {
    background-color: #e28800;
    color: white;
    border: none;
    cursor: pointer;
    width: 25%;
    font-size: 16px;
    text-align: center;
  padding-top: 2px;

}
.dropdown p {
}
.dropdown:hover, .dropdown:focus {
    background-color: #e2b100;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    max-height: 200px;
    overflow: auto;
    max-height: 300px;
    border-radius: 5px;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    
  }

  .show {
      display:block;
  }

.box {
    elevation: 50px;
    margin-top: 50px;
    color: #23272a;
    background: white;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin-left: 70px;
    padding: 10px;
    float:left;
    box-shadow: 0 2px 3px rgba(35,39,42,.1),0 0 0 1px rgba(35,39,42,.1);
}
    
.box h1 {
    font-size: 28px;

    display: inline;
    position: relative;
    top: 10px;
    left: 10px;
}
.box h2 {
    font-size: 18px;

    display: block;
    position: relative;
    top: 10px;
    left: 10px;
    color: #7a7a73;
}

.slideshow {
    width:100%;

    height: 600px;
    overflow:hidden;

    margin: 0; 
}

.image {
    background:  center  no-repeat;
    background-size: cover;
    display: inline-block;
    height:600px; 
    width:100%;
    margin: 0;
}

.image2 {
    margin-top: 130px;
    margin-bottom: -30px;
    background:  center  no-repeat;
    background-size: cover;
    display: inline-block;
    height:350px; 
    width:100%;
}

.slider-text {
    color: white;
    font-size: 20px;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 51%;
    left: 30%;
    width: 400px;
}
  .shade {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: relative;
    top: 0;
    left: 0;
  }

  .slider-title {
      color: white;
      margin: 0;
      transform: translate(-50%,-50%);
      text-align: center;
      position: absolute;
      top: 37%;
      left: 30%;
  }

  .slider-button {

    color: white;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 70%;
    left: 30%;
    background-color: #e2b100;
    border: none;
    padding: 15px 20px;
    font-size: 16px;

    border-radius: 30px;
}

.admission-text {
    color: white;
    font-size: 20px;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 47%;
    left: 48%;
    width: 500px;
}

  .admission-title {
      color: white;
      margin: 0;
      transform: translate(-50%,-50%);
      text-align: center;
      position: absolute;
      top: 26%;
      left: 48%;
  }

  .admission-button {

    color: white;
    margin: 0;
    transform: translate(-50%,-50%);
    text-align: center;
    position: absolute;
    top: 84%;
    left: 48%;
    background-color: #e2b100;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 30px;


}

.description {
    overflow:hidden;

    margin: 10%;
}

.description .container {
    
}
.ptext {

    position: relative;
    top: 30px;
    left: 50px;
    font-size: 20px;
    width: 800px;
    text-align: left;
}
.pics {
 width: 200px;
}



.desc-title {
    font-size: 26px;
    color: black;

    text-align: center;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    margin-top: 50px;
}
.desc-text {
    font-size: 18px;
}

.gallery {
    margin:5%;

}

.gallery h1 {
    font-size: 36px;
    color: slateblue;
    width: 472px;
    margin-left: 1.3%;
}

.galleryslide {
    width:100%;

    height: 250px;
    overflow:hidden;

    margin: 0; 
}

.galleryslide img {

    display: inline-block;
    height:296px; 
    width:100%;
    margin: 0;
}

.section {
    width:100%;
    height: 461px;
    background-color: #424242;
    padding-top: 80px;
    padding-left: 220px;
}

.column1 {
    width: 180px;

}
.column2 {
    width: 180px;
    height: 100px;
    
    
    float: left;
}
.column3 {
    width: 49%;
    height: 96px;
    float: left;
    position: relative;
    top: -131px;
    left: 54px;
}

.column1 p {
    color: white;
}

.column2 p {
    color: grey;
}

.column3 h3 {
    color: white;
}

.column3 p {
    color: grey;
}

.partners {
    padding-top: 50px;
}

.partners h1 {
    text-align: center;
    font-size: 36px;
    color: slateblue;
    }

    .site-footer
{
  background-color:#424242;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #e2b100;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #e2b100;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
    text-align: center;

  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}


    @media only screen and (max-width: 1240px) {
        .pics img:nth-child(3) {
            left: 194px;
            position: relative;
            top: 101px;
        }
    }

  @media only screen and (max-width: 700px) {
    .slideshow {
        height: 450px;
    }
    
    .image {

        height:450px; 
        
    }

    .slider-button {
        top: 80%;

       
    }   


  }

  #map {
    height: 500px;
    width: 100%;
    
  }

.grid-container {
    display: grid;
    grid-template-columns: 45% 45% ;
    
}

.grid-item {
    color: slateblue;
    padding: 100px;
    height: 500px;
    margin-bottom: 300px;
}



.grid-item form input {
    color: black;
  width: 100%;
  padding: 12px 12px;;
    margin-bottom: 20px;
    background-color: white;
  border: none;
  border-bottom: 1px solid black;
}

.grid-item form p {
    color: black;
    font-weight: bold;
}

.grid-item span {
    color: black;
}

.grid-item i {
    color: black;
}

.send {
    color: white;
    margin: 0;
        background-color: black;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    border-radius: 30px;
}




  @media only screen and (max-width: 600px) {
    .slider-text {
        font-size: 15px;
        left: 30%;
        width: 300px;
        
    }

    .admission-text {
        width:400px;
    }

    .description .container {
        width: 300px;
    }



    .desc-title {
        font-size: 40px;

    }
      .admission-text {
          font-size: 15px;
          width: 300px;
      }
    .icons {

        margin-top: -400px;
        margin-left: -20px;
    
    }
    .icons img {
        width: 50px;
    }
   }

   @media only screen and (max-width: 400px) {
    .slider-text {
        left: 45%;

    }
       .slider-title {
           left: 22%;
       }
       .slider-button {
        font-size: 12px;
           left: 22%;

       }
       .pics {
        width: 100px;
       }
       .ptext {

        position: relative;
        top: 30px;
        left: 50px;
        font-size: 15px;
        width: 250px;
        text-align: left;
        margin-bottom: 200px;
        top: 60px;
    }       

}
    @media only screen and (max-width: 900px) {
        .column1 {
            display: none;
        }       
        .column2 {
            display: none;
        }
        .column3 {
            width: 100%;
            top: -50px;
            left: -100px;
        }
        
        .grid-container {
            display: grid;
            grid-template-rows: 45% 65% ;
            grid-template-columns: unset ;

        }
        
        .grid-item {
            width: 100%;
            color: slateblue;
            padding: 50px;
            height: 600px;
            margin-bottom: 100px;
        }
   }
   @media only screen and (max-width: 550px) {
       .column3 {
           left: -140px;
       }
    .column3 p {
        font-size: 10px;
        width: 130%;
        text-align: center;
    }
    .column3 h3 {
        font-size: 17px;
        text-align: center;
        margin-left: -45px;
        width: 300px;
 
    }
}